
.img-home{
    width: 50px;
    // background-color: aquamarine;
    background:none;
}
.header{
  display: flex;
  // justify-content: space-around;
  padding-top: 10px;
  color: white;
  width: 100%;
}
.bton-lenguaje{
    background: none;
    border: none;
}
.bton-back{
  background:none;
  border: none;
  &:hover{
border: 2px solid gray;
border-radius: 10px;
  }
}
.div-volver{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 25%;
  padding-left: 30px;
}
.div-bton-nav{
  display: flex;
  justify-content: end;
  width: 80%;
  padding-right: 30px;
}