.input-search{
    width: 60%;
    top: 0;
    position: absolute;
    padding-top: 15px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    background-color: black;
    /* border: solid 1px darkgray; */
    border-bottom: solid 1px white;
    font-size: 20px;

}