.backgroundt{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;

   
    
    &__center{
        display: flex;
        justify-content: center;
        text-align: center;
        &--text{
            font-size: 172px;
            color: white;
        }
    }
    
}